<!doctype html>
<html>
  <head>
    <title>Life Evolution Tracker</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  
  <body>
    <!-- Modal Overlay -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <h2>Update Domains</h2>
        <div id="modal-controls"></div>
        <button onclick="closeModal()">Done</button>
      </div>
    </div>

    <!-- Main Content -->
    <h1>Life Evolution Tracker</h1>

    <!-- Setup Section -->
    <div id="setup">
      <h2>Define your life domains</h2>
      <input
        id="domainInput"
        type="text"
        placeholder="Sport, Intellect, Spirit, Will-power, Detox"
        style="width: 100%; padding: 10px; font-size: 16px"
      />
      <button class="btn-plus" onclick="initApp()">Start</button>
    </div>

    <!-- App Section -->
    <div id="app" style="display: none">
      <div id="graph"></div>
      <button id="openModalBtn" class="btn-plus">Update</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
